<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<div th:fragment="footer">
    <footer class="page-footer font-small blue">

        <!-- Footer Links -->
        <div class="container-fluid" style="background-image: linear-gradient(#C09A6B,#6d5537);">

            <!-- Grid row -->
            <div class="row">

                <div class="col-md-3 mb-md-0 mb-3">

                </div>
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase" style="color: white">+Cotas</h5>
                    <p style="color: white">Teléfono: 933 35 15 43</p>

                </div>
                <!-- Grid column -->

                <!--                <hr class="clearfix w-100 d-md-none pb-3">-->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase" style="color: white">Links</h5>

                    <a href="https://www.instagram.com/mascotas1920/"><img src="/fragment/instagram.webp" height="25"></a>
                    <a><img src="/fragment/app store.png" height="25"></a>
                    <a><img src="/fragment/google play.png" height="25"></a>

                </div>
            </div>

        </div>
        <div class="footer-copyright text-center py-3" style="background-color: #6d5537">
            <img src="/fragment/logo.png" width="50" height="50">
            <a style="color: white">© 2020 Copyright: +Cotas</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
</body>
</html>