<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html"
      xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav"
         style="background-image: linear-gradient(to top,rgba(196,230,255,0), rgba(196,230,255,1));">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"> <img src="/fragment/logo.png" height="50" href="/"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  js-scroll-trigger" href="/introduccion"
                           style="color: black">Introducción</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop1" data-toggle="dropdown">Servicios</a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/mascotas" style="color: black">+Cotas</a>
                            <a class="dropdown-item js-scroll-trigger" href="/ludogat" style="color: black">Ludogat</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  js-scroll-trigger" href="/cliente" style="color: black">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  js-scroll-trigger" href="/contacto" style="color: black">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  js-scroll-trigger" href="/publicidad"
                           style="color: black">Publicidad</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop2" data-toggle="dropdown">+</a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/forma_juridica" style="color: black">Forma
                                Jurídica</a>
                            <a class="dropdown-item js-scroll-trigger" href="/medio_ambiente" style="color: black">Medio
                                Ambiente</a>
                            <a class="dropdown-item js-scroll-trigger" href="/prevencion_riesgos_laborales"
                               style="color: black">Prevención de Riesgos Laborales</a>
                            <a class="dropdown-item js-scroll-trigger" href="/competencia" style="color: black">Competencia</a>
                            <a class="dropdown-item js-scroll-trigger" href="/dafo" style="color: black">DAFO</a>
                            <a class="dropdown-item js-scroll-trigger" href="/organigrama" style="color: black">Organigrama</a>
                            <a class="dropdown-item js-scroll-trigger" href="/inversion_coste" style="color: black">Inversión
                                Coste</a>
                            <a class="dropdown-item js-scroll-trigger" href="/contabilidad_ratios_1"
                               style="color: black">Contabilidad y Ratios I</a>
                            <a class="dropdown-item js-scroll-trigger" href="/contabilidad_ratios_2"
                               style="color: black">Contabilidad y Ratios II</a>
                        </div>
                    </li>
                    <!-- Dropdown -->
                    <li th:unless="${#authentication.name=='anonymousUser'}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop3" data-toggle="dropdown" sec:authentication="name">
                            User
                        </a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/profile" style="color: black">Perfil</a>
                            <a class="dropdown-item js-scroll-trigger" data-toggle="modal" data-target="#myModal"
                               style="color: red">Salir</a>
                        </div>
                    </li>

                    <li th:if="${#authentication.name=='anonymousUser'}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop4" data-toggle="dropdown">
                            Cuenta
                        </a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/login" style="color: black">Inicia
                                Sesión</a>
                            <a class="dropdown-item  js-scroll-trigger" href="/createUser" style="color: black">No Tengo
                                Cuenta</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>