<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html"
      xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav"
         style="background-image: linear-gradient(to top,rgba(196,230,255,0), rgba(196,230,255,1));">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">+Cotas</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop1" data-toggle="dropdown">+Cotas</a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/introduccion" style="color: black">Introducción</a>
                            <a class="dropdown-item js-scroll-trigger" href="/mision_vision_valores"
                               style="color: black">Misión, Visión y Valores</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop2" data-toggle="dropdown">Ayúdanos</a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/colabora"
                               style="color: black">Colabora</a>
                            <a class="dropdown-item js-scroll-trigger" href="/socio" style="color: black">Socio</a>
                            <a class="dropdown-item js-scroll-trigger" href="/socio+" style="color: black">Socio+</a>
                            <a class="dropdown-item js-scroll-trigger" href="/apadrina"
                               style="color: black">Apadrina</a>
                            <a class="dropdown-item js-scroll-trigger" href="/voluntariado" style="color: black">Voluntariado</a>
                            <a class="dropdown-item js-scroll-trigger" href="/donacion"
                               style="color: black">Donación</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop5" data-toggle="dropdown">Veterinario</a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/veterinario"
                               style="color: black">Veterinario</a>
                            <a class="dropdown-item js-scroll-trigger" href="/seguro" style="color: black">Seguro</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  js-scroll-trigger" href="/ludogat" style="color: black">Ludogat</a>
                    </li>
                    <!-- Dropdown -->
                    <li th:unless="${#authentication.name=='anonymousUser'}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop3" data-toggle="dropdown" sec:authentication="name">
                            User
                        </a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/profile" style="color: black">Perfil</a>
                            <a class="dropdown-item js-scroll-trigger" data-toggle="modal" data-target="#myModal"
                               style="color: red">Salir</a>
                        </div>
                    </li>

                    <li th:if="${#authentication.name=='anonymousUser'}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  js-scroll-trigger" href="#" style="color: black"
                           id="navbardrop4" data-toggle="dropdown">
                            Cuenta
                        </a>
                        <div class="dropdown-menu" style="background-color: #c4e6ff">
                            <a class="dropdown-item js-scroll-trigger" href="/login" style="color: black">Inicia
                                Sesión</a>
                            <a class="dropdown-item  js-scroll-trigger" href="/createUser" style="color: black">No Tengo
                                Cuenta</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>