<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Search</title>
</head>
<body>
<div th:fragment="search-Tutorial">
    <div style="padding-left: 10%">
        <div class="row" align="center">
            <div class="jumbotron shadow p-3 mb-5" style=" background-color: #c4e6ff" aria-labelledby="navbarDropdown">
                <h5>Filtra por Tipo de Animal</h5>
                <div class="dropdown-divider"></div>
                <a th:each="type : ${typeList}" class="dropdown-item"
                   th:href="@{'/animal/all/' + ${type}}" th:text="${type}"/>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="'/animal/all'">Select All</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>